<section>
  <div class="page-header">
    <h1>{{vm.time._id ? 'Edit Time' : 'New Time'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.timeForm" class="form-horizontal" ng-submit="vm.save(vm.form.timeForm.$valid)" novalidate>
      <fieldset>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

        <div class="form-group">
          <label class="control-label" for="notes">Notes</label>
          <input type="text" name="notes" data-ng-model="vm.time.notes" id="notes" class="form-control" placeholder="Notes">
        </div>

        <div class="form-group">
          <label class="control-label" for="date">Date</label>
          <input type="date" name="date" data-ng-model="vm.time.date" id="date" class="form-control" placeholder="Date">
        </div>

        <div class="form-group">
          <label class="control-label" for="notes">Hours</label>
          <input type="number" name="hours" data-ng-model="vm.time.hours" id="hours" class="form-control" placeholder="Hours">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.time._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
