<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
    </div>
  </div>
  
  <div class="alert alert-success" ng-if="vm.successMsg" role="alert">
    <b ng-bind="vm.successMsg"></b>
  </div>

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>E-mail</th>
        <th>Roles</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="user in vm.users">
        <td data-ng-bind="user.displayName"></td>
        <td data-ng-bind="user.username"></td>
        <td data-ng-bind="user.email"></td>
        <td data-ng-bind="user.roles"></td>
        <td>
          <span>
            <a href="#" ui-sref="admin.user({ userId: user._id })" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="#" ng-click="vm.remove(user)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</section>
