<section class="row" ng-controller="EditProfileController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div ng-show="success" class="alert alert-success">
          <strong>Configuration saved successfully.</strong>
        </div>
        <div ng-show="error" class="alert alert-danger">
          <strong ng-bind="error"></strong>
        </div>
        <div class="form-group" show-errors>
          <label for="workingHoursPerDay">Preferred working hours per day</label>
          <input type="number" id="workingHoursPerDay" name="workingHoursPerDay" class="form-control" ng-model="user.workingHoursPerDay" placeholder="Preferred working hours per day" required>
          <div ng-messages="userForm.workingHoursPerDay.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Preferred working hours per day is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save Configuration</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
